<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 이 XML을 어떤 interface하고 연결할 것인가 -->
<mapper namespace="kr.co.recotrip.dao.DiaryDAO">

	<select id="tdList" resultType="diary">
	
		SELECT * FROM t2_diary WHERE diary_public = 1 ORDER BY diary_number DESC

	</select>
		<select id="tdDetail" resultType="diary">
	
		SELECT * FROM t2_diary WHERE diary_number= #{idx}
	
	</select>
	 
 	<insert 
		parameterType = "diary"
		useGeneratedKeys = "true"
		keyProperty = "diary_number"
		keyColumn = "diary_number"
		id="tdWrite">
		INSERT INTO t2_diary (diary_number,id,diary_subject,diary_main,diary_content1,diary_reg_date,diary_public)
		 VALUES(yu_seq.nextval,#{id},#{diary_subject},#{diary_main},#{diary_content1},#{diary_reg_date},#{diary_public})
	</insert>
	
 	<insert 
		parameterType = "diary"
		useGeneratedKeys = "true"
		keyProperty = "diary_number"
		keyColumn = "diary_number"
		id="tdWrite2">
		INSERT INTO t2_diary (diary_number,id,diary_subject,diary_main,diary_content1,diary_content2,diary_reg_date,diary_public)
		 VALUES(yu_seq.nextval,#{id},#{diary_subject},#{diary_main},#{diary_content1},#{diary_content2},#{diary_reg_date},#{diary_public})
	</insert>
	
 	<insert 
		parameterType = "diary"
		useGeneratedKeys = "true"
		keyProperty = "diary_number"
		keyColumn = "diary_number"
		id="tdWrite3">
		INSERT INTO t2_diary (diary_number,id,diary_subject,diary_main,diary_content1,diary_content2,diary_content3,diary_reg_date,diary_public)
		 VALUES(yu_seq.nextval,#{id},#{diary_subject},#{diary_main},#{diary_content1},#{diary_content2},#{diary_content3},#{diary_reg_date},#{diary_public})
	</insert>
	
 	<insert 
		parameterType = "diary"
		useGeneratedKeys = "true"
		keyProperty = "diary_number"
		keyColumn = "diary_number"
		id="tdWrite4">
		INSERT INTO t2_diary (diary_number,id,diary_subject,diary_main,diary_content1,diary_content2,diary_content3,diary_content4,diary_reg_date,diary_public)
		 VALUES(yu_seq.nextval,#{id},#{diary_subject},#{diary_main},#{diary_content1},#{diary_content2},#{diary_content3},,#{diary_content4},#{diary_reg_date},#{diary_public})
	</insert>	

 	<insert 
		parameterType = "diary"
		useGeneratedKeys = "true"
		keyProperty = "diary_number"
		keyColumn = "diary_number"
		id="tdWrite5">
		INSERT INTO t2_diary (diary_number,id,diary_subject,diary_main,diary_content1,diary_content2,diary_content3,diary_content4,diary_content5,diary_reg_date,diary_public)
		 VALUES(yu_seq.nextval,#{id},#{diary_subject},#{diary_main},#{diary_content1},#{diary_content2},#{diary_content3},#{diary_content4},#{diary_content5},#{diary_reg_date},#{diary_public})
	</insert>
	 
	 
	<insert id="fileWrite">
		INSERT INTO t2_diary_pic (pic_num, diary_number, orif, newf)
			VALUES(photo_seq.NEXTVAL, #{param1}, #{param2}, #{param3})
	</insert>
	
	<select id="tdButton" resultType="String">
		SELECT id FROM t2_diary WHERE diary_number=#{param1}
	</select>
	
	<delete id="tdPDelete">
		DELETE FROM t2_diary_pic WHERE diary_number = #{param1}
	</delete>
	
	<delete id="tdDelete">
		DELETE FROM t2_diary WHERE diary_number = #{param1}
	</delete>
	 
	 <select id="getDelFileName" resultType="String">
		SELECT newf FROM t2_diary_pic WHERE diary_number=#{param1}
	</select>
	 
</mapper>
	