<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.recotrip.dao.reviewDAO">

 	<select id="reviewlist" resultType="review">
		SELECT * FROM (SELECT ROWNUM rnum, A.* FROM (SELECT * FROM t2_review order by review_num desc) A)
		WHERE rnum between #{start} AND #{end}
	</select>
	
	<insert id="reviewwrite" parameterType="String">
		insert into t2_review (review_num,dest_num,id,review_content,review_reg_data) values (t2_review_seq.NEXTVAL,132905,#{param1},#{param2},sysdate)
	</insert>
	
	<update id="reviewupdate" parameterType="String">
		update t2_review set review_content=#{param2},review_reg_data=sysdate where review_num=#{param1}
	</update>
	
	<delete id="reviewdelete" parameterType="String">
		delete t2_review where review_num=#{param1}
	</delete>
	
	<insert id="rating" parameterType="String">
		insert into t2_rating (rating_num,dest_num,id,rating) values (t2_rating_seq.NEXTVAL,132905,#{param1},#{param2})
	</insert>
	
 	<select id="countBoard" resultType="int">
		select count(*) from t2_review
	</select>

</mapper>