<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 이 XML을 어떤 interface하고 연결할 것인가 -->
<mapper namespace="kr.co.recotrip.dao.SearchDAO">
	<!--  		SELECT dest_num, dest_name FROM t2_dest WHERE dest_name LIKE '%'||#{search}||'%' ORDER BY dest_bHit DESC -->
		<select id="nameSearch" parameterType="hashMap" resultType="search">
 		SELECT d.dest_num, d.dest_name, a.dest_detail_addr, p.dest_pic_url FROM t2_dest d INNER JOIN t2_dest_addr a
    		ON d.dest_num = a.dest_num INNER JOIN t2_dest_pic p ON a.dest_num = p.dest_num WHERE d.dest_name LIKE '%'||#{search}||'%' ORDER BY d.dest_bHit DESC
 		
 	</select>
	
</mapper>
	